body{ 
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #c08429;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #f2d275;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: left;
    margin-top: 5px;
}
img{
    border-radius: 5%;
}